<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <!--<add name="connection" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.125.64.73)(PORT=1521)))(CONNECT_DATA=(SID=EBSTEST)(SERVER=DEDICATED))); User Id = TMSDB; Password = TMSDB;"/>-->
    <!--INI Configured Production-->    
  </connectionStrings>
  <appSettings>
    <add key="pdfRootPath" value="D:\HRMSTEST\"/>
    <!--nas details-->
    <add key="naspath" value="\\10.125.64.236\gis_nas\HRMS_EMPLOYEE_IMAGES\"/>
    <add key="NASUSERNAME" value="Indresh"/>
    <add key="NASPassword" value="bses@123"/>
    <!--nas details-->
    <!--10.125.126.32-->
    <!--ini details-->
    <add key="INI_FILEPATH_1" value=".ini\HRMS.ini"/>
    <add key="INI_DBNAME_1" value="HRMS"/>
    <add key="INI_PASSWORD" value="o8??^am(*)"/>
    <add key="INI_DBUSERID" value="dbuserid"/>
    <add key="INI_DBPWD" value="dbuserpwd"/>
    <add key="INI_DBCONNECTION" value="dbconn"/>
    <!--ini details-->
    <add key="FolderPath" value="Files/"/>
    <add key="BULKSSMSGIS" value="E:\BULKSSMSGIS\"/>
    <add key="Mail_WebReference_64_86.Service" value="http://10.125.64.86/mail_service/Service.asmx"/>
    <add key="bsesdelhi.bsespi_budget.SI_FUND_OMMS" value="http://bsespi.bsesdelhi.co.in:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DEL_GIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_FUND_OMMS&amp;interfaceNamespace=http://rel.com/xi/SAPR3/FUND_OMMS"/>
    <add key="bsespi_SI_PGPO.SI_PGPO" value="http://bsespi.bsesdelhi.co.in:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DEL_GIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PGPO&amp;interfaceNamespace=http://rel.com/xi/SAPR3/PGPO"/>
    <add key="relsrmcipmdcc.SI_941" value="http://bsespi.bsesdelhi.co.in:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DEL_GIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_941&amp;interfaceNamespace=http://rel.com/xi/SAPR3/941"/>
  <add key="PO_Fetch_mdcc.SI_PGMDCC" value="http://bsespi.bsesdelhi.co.in:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DEL_GIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PGMDCC&amp;interfaceNamespace=http://rel.com/xi/SAPR3/PG_MDCC"/>
  </appSettings>
</configuration>